.chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #37393f;
  height: 100vh;

  .chatMessage {
    height: 100vh;
    flex-grow: 1;
    overflow-y: scroll;
  }
  .chatInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #474b53;
    border-radius: 8px;
    margin: 20px;
    color: lightgray;

    form {
      flex-grow: 1; //伸ばす
      input {
        width: 100%;
        color: white;
        font-size: 1.1rem;
        padding: 15px;
        background: transparent;
        border: none;
        outline: none;
      }

      .chatInputButton {
        display: none;
      }
    }

    .chatInputIcons {
      .MuiSvgIcon-root {
        padding: 6px;
      }
    }
  }
}
